.row{
    display: flex;
    justify-content: center;
    text-align: center;
}
.box{
    border: 1px solid black;
    width: 500px;
    margin: 10px;
}
.tytul{
    font-size: xx-large;
    font-weight: bolder;
    text-align: center;
    color: midnightblue;
}
body{
    background-color: rgb(154, 230, 255);
}
a{
    text-decoration: none;
}